<div class="max-w-2xl w-full sticky bottom-0 mx-auto py-2 px-4">
  <div class="flex flex-col gap-1.5 w-full">
    <div class="relative" data-id="75">
      <textarea
        class="shadow flex w-full bg-background text-sm ring-offset-background placeholder:text-tertiary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 min-h-[48px] rounded-2xl resize-none p-4 border border-neutral-400 pr-16"
        placeholder="Message ChatGPTemini..."
        name="message"
        id="message"
        rows="1"
        data-id="76"
      ></textarea>
      <button
        class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 bg-primary text-secondary hover:bg-primary/90 absolute w-8 h-8 top-3 right-3"
        type="submit"
        data-id="77"
      >
        <svg
          data-id="78"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-4 h-4"
        >
          <path d="m5 12 7-7 7 7"></path>
          <path d="M12 19V5"></path>
        </svg>
        <span class="sr-only" data-id="79">Send</span>
      </button>
    </div>
    <p class="text-xs font-medium text-center text-neutral-700" data-id="80">
      ChatGPTemini peut commettre des erreurs. Il est recommandé de vérifier les
      informations importantes.
    </p>
  </div>
</div>
